__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

env/

.ipynb_checkpoints
.Rhistory
/src/**/*.ipynb
!/src/notebooks/**/*.ipynb
db/db.sqlite3
logs/*.log
outputs/
