
*~

__pycache__
*.pyc
env/
.ipynb_checkpoints
.Rhistory
/src/**/*.ipynb
!/src/notebooks/**/*.ipynb
db/analysis-result/*.json
*.sqlite3
/logs/*
/outputs/*
!outputs/.gitkeep
secret.txt
db/analysis-result/reaction/*.json
db/analysis-result/pathway/*.json
